
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5em;
}

strong {
  color: darkblue;
}

div#content {
  background-color: lightgray;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}